[submodule "scripts"]
	path = scripts
	url = https://github.com/DefinitelyNotSimon13/scriptsConf.git
[submodule "alacritty"]
	path = .config/alacritty
	url = https://github.com/DefinitelyNotSimon13/alacrittyConf
[submodule "dunst"]
	path = .config/dunst
	url = https://github.com/DefinitelyNotSimon13/dunstConf
[submodule "hypr"]
	path = .config/hypr
	url = https://github.com/DefinitelyNotSimon13/hyprlandConf
[submodule "kitty"]
	path = .config/kitty
	url = https://github.com/DefinitelyNotSimon13/kittyConf
[submodule "neofetch"]
	path = .config/neofetch
	url = https://github.com/DefinitelyNotSimon13/neofetchConf
[submodule "nvim"]
	path = .config/nvim
	url = https://github.com/DefinitelyNotSimon13/nvimConf
[submodule "rofi"]
	path = .config/rofi
	url = https://github.com/DefinitelyNotSimon13/rofiConf
[submodule "tmux"]
	path = .config/tmux
	url = https://github.com/DefinitelyNotSimon13/tmuxConf
[submodule "waybar"]
	path = .config/waybar
	url = https://github.com/DefinitelyNotSimon13/waybarConf
[submodule "installScript"]
	path = 1_Coding/installScriptV2
	url = https://github.com/DefinitelyNotSimon13/installScriptV2.git
[submodule "InstallScriptV2"]
	path = 1_Coding/installScriptV2
	url = https://github.com/DefinitelyNotSimon13/installScriptV2
[submodule "nwg-dock-hyprland"]
	path = .config/nwg-dock-hyprland
	url = https://github.com/DefinitelyNotSimon13/nwg-dockConf.git
[submodule "nwg-drawer"]
	path = .config/nwg-drawer
	url = https://github.com/DefinitelyNotSimon13/nwg-drawerConf.git
[submodule "swayidle"]
	path = .config/swayidle
	url = https://github.com/DefinitelyNotSimon13/swayidleConf.git
[submodule "swaylock"]
	path = .config/swaylock
	url = https://github.com/DefinitelyNotSimon13/swaylockConf.git
[submodule "spicetify"]
	path = .config/spicetify
	url = https://github.com/DefinitelyNotSimon13/spicetifyConf
