@import "colors.css";
window {
  background: rgba(30, 30, 46, 0.9);
  border: 2px solid @sky;
	border-radius: 10px;
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 10px
}

#active {
	/* This is to underline the button representing the currently active window */
	border-bottom: solid 1px;
	border-color: rgba(255, 255, 255, 0.3)
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #999
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #eee;
  font-size: 12px
}

button:hover {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 8px;
}

button:focus {
	box-shadow: none
}
